<div class="services" id="services">
  <div class="background-services"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <span class="hint-title"><b>Serviços</b></span>
        <h1 class="title"><b>Como são nossos serviços?</b></h1>
      </div>
      <div class="col-4 mb-5">
        <div class="card-icon text-center">
          <img src="../../../../assets/img/icone-pedido.svg" alt="pedido" width="150px">
        </div>
        <div class="card-text text-center mt-3">
          <p><b>Fácil de pedir</b></p>
          <span>Você só precisa de alguns passos para pedir sua comida.</span>
        </div>
      </div>
      <div class="col-4 mb-5">
        <div class="card-icon text-center">
          <img src="../../../../assets/img/icone-delivery.svg" alt="entrega" width="250px">
        </div>
        <div class="card-text text-center mt-3">
          <p><b>Entrega rápida</b></p>
          <span>Nossa entrega é sempre pontual, rápida e segura!</span>
        </div>
      </div>
      <div class="col-4 mb-5">
        <div class="card-icon text-center">
          <img src="../../../../assets/img/icone-qualidade.svg" alt="qualidade" width="250px">
        </div>
        <div class="card-text text-center mt-3">
          <p><b>Melhor qualidade</b></p>
          <span>Não só a rapidez na entrega, a qualidade também é nosso forte.</span>
        </div>
      </div>
    </div>
  </div>
</div>
