<div class="menu" id="menu">
  <div class="menu-background"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <span class="hint-title"><b>Cardápio</b></span>
        <h1 class="title"><b>Conheça o nosso cardápio</b></h1>
      </div>
      <div class="col-12 container-menu">
        <a class="btn btn-white btn-sm" *ngFor="let item of menuItems" [ngClass]="{'active': item.active}" (click)="handleService(item)">
          <span>
            <fa-icon [icon]="item.icon"></fa-icon>
            {{item.text}}
          </span>
        </a>
      </div>
      <div class="col-12">
        <div class="row py-4" id="menu-items">
          <div class="col-3 mb-4">
            <div class="card card-item p-3">
              <div class="product-img">
                <img src="../../../../assets/img/cardapio/burguers/burger-au-poivre-kit-4-pack.3ca0e39b02db753304cd185638dad518.jpg" alt="">
              </div>
              <p class="product-title text-center">
                <b>Nome do produto</b>
              </p>
              <p class="product-price text-center">
                R$ 154,90
              </p>
              <div class="add-cart">
                <span class="btn-minus">
                  <fa-icon [icon]="faMinus"></fa-icon>
                </span>
                <span class="btn-number-items">0</span>
                <span class="btn-plus">
                  <fa-icon [icon]="faPlus"></fa-icon>
                </span>
                <span class="btn btn-add">
                  <fa-icon class="icon" [icon]="faShoppingBag"></fa-icon>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <a class="btn btn-white btn-sm">Ver mais</a>
      </div>
    </div>
  </div>
</div>
