<div class="testimonials-background"></div>
<div class="container">
  <div class="row">
    <div class="col-5 text-center">
      <div class="testimonials-card"></div>
      <div class="d-flex banner-img">
        <img src="../../../../assets/img/pizzas.png" alt="">
      </div>
    </div>
    <div class="col-7">
      <span class="hint-title"><b>Depoimentos</b></span>
      <h1 class="title">O que dizem sobre nós?</h1>
      <div class="mb-5">
        <div class="testimonial" id="testimonial-1">
          <div class="container-testimonial-data">
            <div class="testimonial-img"></div>
            <div>
              <p class="testimonial-name"><b>Diego Costa</b></p>
              <p class="testimonial-rate">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt"></fa-icon>&nbsp;<span>4.5</span>
              </p>
            </div>
          </div>
          <p class="testimonial-text">
            <fa-icon [icon]="faQuoteLeft"></fa-icon>
            <span>Muito bom, recomento demais! Comida muito bem feita pelo chefe,
              atendimento dentro dos parâmetros e boa comunicação com o cliente.
            </span>
            <fa-icon [icon]="faQuoteRight"></fa-icon>
          </p>
        </div>
        <div class="testimonial hidden" id="testimonial-2">
          <div class="container-testimonial-data">
            <div class="testimonial-img"></div>
            <div>
              <p class="testimonial-name"><b>Ana Beatriz</b></p>
              <p class="testimonial-rate">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>&nbsp;<span>5.0</span>
              </p>
            </div>
          </div>
          <p class="testimonial-text">
            <fa-icon [icon]="faQuoteLeft"></fa-icon>
            <span>Um jantar perfeito do começo ao fim. Comida, experiência, serviço...
              foi tão maravilhoso que fomos dois dias seguidos.
            </span>
            <fa-icon [icon]="faQuoteRight"></fa-icon>
          </p>
        </div>
        <div class="testimonial hidden" id="testimonial-3">
          <div class="container-testimonial-data">
            <div class="testimonial-img"></div>
            <div>
              <p class="testimonial-name"><b>João Guilherme</b></p>
              <p class="testimonial-rate">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="farStar"></fa-icon>&nbsp;<span>4.0</span>
              </p>
            </div>
          </div>
          <p class="testimonial-text">
            <fa-icon [icon]="faQuoteLeft"></fa-icon>
            <span>A comida estava excelente e o serviço gentil nos surpreendeu!
              Dica: reserve imas 3 horas para ter uma experiência incrível.
            </span>
            <fa-icon [icon]="faQuoteRight"></fa-icon>
          </p>
        </div>
      </div>
      <a class="btn btn-sm btn-white btn-social mr-3 active">1</a>
      <a class="btn btn-sm btn-white btn-social mr-3">2</a>
      <a class="btn btn-sm btn-white btn-social">3</a>
    </div>
  </div>
</div>
