/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./app/app.component.scss');

:root {
  --color-background: #fffdf7;
  --color-black: #212121;
  --color-black-heavy: #000;
  --color-text: #4f4f4f;
  --color-text-out: #90908e;
  --color-primary: #ffbf00;
  --color-secondary: #fff2cc;
  --color-white: #ffffff;
  --color-red: #e74c3c;
  --color-green: #2ecc71;
  --color-separate: #cccccc;
}

* {
  font-family: 'Poppins', 'Rubik', sans-serif;
  // color: var(--color-text);
}

html, body {
  background-color: var(--color-background);
}

.hint-title b {
  color: var(--color-primary) !important;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.btn-white {
  padding: 15px 25px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
  border: none;
}

.btn-white.active, .btn-white:hover {
  background-color: var(--color-primary) !important;
  border: none;
}

.hidden {
  display: none;
}

.mr-3 {
  margin-right: 1rem;
}
